﻿<script src="~/Scripts/AngularControllers/MainController.js"></script>
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div ng-app="App">
    <div style="padding:25px;" class="panel-body" ng-controller="MainController">
        Main here!!!
    </div>
</div>
