﻿<script src="~/Scripts/AngularControllers/CartController.js"></script>

<div class="row" ng-controller="AppController">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Name</th>
                    <th class="text-left">Number</th>
                    <th class="text-left">Total</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data  in data" style="margin:0%;padding:0%;">
                    <td class="col-sm-8 col-md-4">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="/Resource/{{data.image}}" style="width: 100px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#"></a></h4>
                            </div>
                        </div>
                    </td>
                    <td class="col-sm-1 col-md-2" style="text-align: left">{{data.name}}</td>
                    <td class="col-sm-1 col-md-2 text-left">{{data.number}}</td>
                    <td class="col-sm-1 col-md-1 text-left"><strong>{{data.number * data.prince}}$</strong></td>
                    <td class="col-sm-1 col-md-1">
                        <a>
                            <button type="button" ng-click="remove(data.id)" class="btn btn-danger">
                                <span class="fa fa-remove"></span> Remove
                            </button>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td><h3>Total</h3></td>
                    <td class="text-right"><h3><strong>{{total}}$</strong></h3></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>
                        <a href="/">
                            <button type="button" class="btn btn-default">
                                <span class="fa fa-shopping-cart"></span>Continue Shopping
                            </button>
                        </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success"><a style="color:#333333;text-decoration: none;" href="/Cart/Checkout/{{State.id}}" >Checkout</a>
    <span class="fa fa-play"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
</div>