﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/login.css")
    <script src="~/Scripts/angular.js"></script>
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/Scripts/AngularServices/ApiCallService.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
