﻿<script src="~/Scripts/AngularControllers/ProductsCotroller.js"></script>
@using SampleShop.Models
@{
    var prod = (ProductModel)ViewData["MyProduct"];
}
<div ng-controller="AppController" class="container">
    <input id="productid" name="productid" runat="server" value="@prod.id" hidden="hidden" />
    <!-- Portfolio Item Heading -->
    <div ng-model="State" ng-view="StateList" class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{StateList.name}}
                <small>{{StateList.category}}</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Portfolio Item Row -->
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive" src="/Resource/{{StateList.image}}" alt="">
        </div>
        <div class="col-md-4">
            <h3>Product Description</h3>
            <p>{{StateList.description}}</p>
            <h3>Product category</h3>
            <ul>
                <li>{{StateList.category}}</li>
            </ul>
            <h3>Product Prince</h3>
            <ul>
                <li>{{StateList.prince}}$</li>
            </ul>
            <p>
                <a href="#" class="btn btn-primary">Buy Now!</a>
            </p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Related Product</h3>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
            </a>
        </div>
    </div>
<!-- /.row -->
<hr>