﻿<script src="~/Scripts/AngularControllers/ProductsCotroller.js"></script>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="/Resource/banner1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="Resource/banner2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="Resource/banner3.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="row">
                

                <div class="col-md-3" >
                    <nav class="col-md-12">
                        <ul class="nav nav-pills nav-stacked span2" ng-repeat="State  in StateList">
                            <li><a href="#" ng-click="show(State.id)">{{State.name}}</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-9">
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="product  in productList">
                        <div class="thumbnail">
                            <img src="/Resource/{{product.image}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$24.99</h4>
                                <h4>
                                    <a href="#">First Product</a>
                                </h4>
                                <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>


                    

                    <div class="col-md-12">&nbsp;</div>


                    
                </div>


            </div>
        </div>
    </div>
</div>