﻿@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<script src="~/Scripts/AngularControllers/LoginController.js"></script>

@ViewBag.Message
<div ng-app="App">
    <div style="padding:25px;" class="panel-body" ng-controller="AppController">
        {{message}}
        <form ng-submit="submit()" class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputText" class="sr-only">Email address</label>
            <input type="text" id="username" ng-model="username" class="form-control" placeholder="account" required="" autofocus="" >
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" ng-model="password" class="form-control" placeholder="Password"  value="123456">
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="btnLogin()">Sign in</button>
        </form>
    </div>
</div>
