﻿
<script src="~/Scripts/AngularControllers/HomeCotroller.js"></script>


@{
    ViewBag.Title = "Home Page";
}
<div>
    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <h3>Latest Features</h3>
        </div>
    </div>
    

    @*Angular controller (ng-controller) decleration*@
    <div style="padding:25px;" class="panel-body">
            @*Loading Dropdown on page load event by using angular http get call*@
        <div class="row text-center">
                <div ng-model="State" ng-repeat="State  in StateList" class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="/Resource/{{State.image}}" alt="">
                        <div class="caption">
                            <h3>Feature Label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>{{State.name}}</p>
                            <p>{{State.prince}}</p>
                            <p>
                                <button id="btnPostCall" class="btn btn-primary" ng-click="btnbuy(State.id,State.name,State.prince,State.description,State.point,State.image,State.category,1)">Buy Now!</button> <a href="/Product/Detail/{{State.id}}" class="btn btn-default">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>
                <br />
        </div>
    </div>

</div>


